In [ ]:
# Exercise 2 - Create a markdown cell with the title of the notebook

# Peer-graded Assignment: Submit Your Work and Grade Your Peers

In [ ]:
# Exercise 3 - Create a markdown cell for an introduction

## Introduction
Hi everyone, this is Akshay Rathore. Currently, I am a professional worker at HCL-Tech. 
This is my data science project, where I have solved each question of the assignment through self-understanding and learning from this Data Science course.

In [ ]:
Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

### List of data science languages
1. Python
2. R
3. Julia
4. Scala
5. SQL

In [ ]:
Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

### List of data science libraries
1. Numpy
2. Pandas
3. Scikit-Learn
4. TensorFlow
5. PyTorch
6. matplotlib
7. Seaborn
8. keras

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|  Table of data science tools   |
----------------------------------
|         Jupyter Notebook       |
|         Anaconda               |
|         RStudio                |
|         Apache Spark           |
|         Tableau                |
|         Apache Hadoop          |
|         Git                    |

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### Addition
5+10 = 15

### Subtraction
10-5 = 5

### Multiplication
10*5 = 50

### Division
50/5 = 10

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [17]:
(10+2)*20

240

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [19]:
minutes = 120
hours = minutes / 60
hours

2.0

In [ ]:
Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

### Objectives

1. Create a markdown cell with the title of the notebook
2. Create a markdown cell for an introduction.
3. Create a markdown cell to list data science languages.
4. Create a markdown cell to list data science libraries.
5. Create a markdown cell with a table of Data Science tools.
6. Create a markdown cell introducing arithmetic expression examples.
7. Create a code cell to multiply and add numbers
8. Create a code cell to convert minutes to hours.

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

Author: [Akshay Rathore](https://www.linkedin.com/in/akshay8175/)
GitRepo: [DS_Assignment](https://github.com/akshay8175/DS_Assignment)